//<QUANTITY>
// Снипет (HTML): qa
.quantity {
  width: 150px;
  height: 50px;
  display: flex;
  // .quantity__button
  &__button {
    flex: 0 0 50px;
    height: rem(50);
    position: relative;
    cursor: pointer;
    background-color: $mainDarkColor;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transition: all 0.3s ease 0s;
      margin: 0px 0px 0px -4.5px;
      background-color: $mainLightColor;
      width: 9px;
      height: 1px;
    }
    // .quantity__button_plus
    &_plus {
      border-radius: 0 rem(3) rem(3) 0;
      &::before {
        transform: rotate(-90deg);
      }
    }
    // .quantity__button_minus
    &_minus {
      border-radius: rem(3) 0 0 rem(3);
    }
  }
  // .quantity__input
  &__input {
    flex: 1 1 auto;
    input {
      height: 100%;
      width: 100%;
      cursor: pointer;
      text-align: center;
      background: rgba(210, 210, 210, 0.07);
    }
  }
}
