.footer {
  background-color: $mainDarkColor;
  // .footer__text
  &__text {
  }
  // .footer__container
  &__container {
  }
  // .footer__body
  &__body {
  }
}
.text-footer {
  @include adaptiveValue("padding-top", 60, 40);
  @include adaptiveValue("padding-bottom", 60, 40);
  background: url("@img/footer/background.jpg") top / cover no-repeat;
  // .text-footer__container
  &__container {
  }
  // .text-footer__title
  &__title {
    text-align: center;
    font-weight: 700;
    @include adaptiveValue("font-size", 30, 24);
    line-height: math.div(46, 30);
    color: $accentColor;
    &:not(:last-child) {
      margin-bottom: em(30, 30);
    }
  }
  // .text-footer__text
  &__text {
    line-height: math.div(27, 18);
    color: $mainLightColor;
    @include adaptiveValue("font-size", 18, 16);
  }
  @media (max-width: $mobileSmall) {
    text-align: center;
  }
}
.body-footer {
  display: grid;
  @include adaptiveValue("padding-top", 100, 50);
  @include adaptiveValue("padding-bottom", 50, 30);
  @include adaptiveValue("gap", 35, 15);
  // .body-footer__row
  &__row {
    display: grid;
    column-gap: rem(40);
    @include adaptiveValue("row-gap", 40, 20);
    grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
    &:not(:last-child) {
      padding-bottom: rem(30);
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
  }
  // .body-footer__item
  &__item {
  }
}
.item-footer {
  // .item-footer__spoller
  &__spoller {
  }
}
.spoller-item-footer {
  // .spoller-item-footer__item
  &__item {
  }
  // .spoller-item-footer__title
  &__title {
    font-weight: 600;
    color: $mainLightColor;
    text-transform: uppercase;
    line-height: math.div(22, 18);
    ._spoller-init & {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      gap: rem(10);
      &::after {
        content: "\e900";
        font-size: rem(8);
        @extend %ic;
        transition: transform 0.3s ease 0s;
      }
      &._spoller-active {
        &::after {
          transform: rotate(-180deg);
        }
      }
    }
  }
  // .spoller-item-footer__body
  &__body {
    @include adaptiveValue("padding-top", 30, 20);
    @include adaptiveValue("padding-bottom", 30, 20);
  }
  // .spoller-item-footer__text
  &__text {
    line-height: math.div(27, 18);
    color: rgba(255, 255, 255, 0.8);
    a {
      color: $accentColor;
    }
  }
}
.menu-footer {
  // .menu-footer__list
  &__list {
  }
  // .menu-footer__item
  &__item {
    display: flex;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.8);
    &:not(:last-child) {
      margin-bottom: em(20, 18);
    }
    &::before {
      font-size: rem(18);
      margin-top: em(5, 15);
      margin-right: em(10, 15);
    }
  }
  // .menu-footer__link
  &__link {
    display: inline-flex;
    line-height: math.div(27, 18);
    &::before {
      font-size: rem(18);
      margin-top: em(5, 15);
      margin-right: em(10, 15);
    }
    &._icon-footer-mail {
      &::before {
        font-size: rem(15);
      }
    }
  }
}
