//====================================================================================================
.header {
  // .header__top
  &__top {
    background-color: $mainDarkColor;
    color: $mainLightColor;
  }
  // .header__body
  &__body {
  }
}
.top-header {
  padding: rem(10) 0;
  // .top-header__container
  &__container {
    display: flex;
    align-items: center;
    gap: rem(20);
    min-height: rem(50);
  }

  // .top-header__menu
  &__menu {
    flex: 1 1 auto;
  }

  // .top-header__user
  &__user {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    line-height: math.div(22, 18);

    &::before {
      font-size: rem(28);
      margin-right: em(15, 28);
    }
  }
}
//==========================================
.menu {
  // .menu__body
  &__body {
  }

  // .menu__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: rem(5);
    @include adaptiveValue("column-gap", 60, 20);
  }

  // .menu__item
  &__item {
  }

  // .menu__link
  &__link {
    font-size: rem(16);
    line-height: math.div(20, 16);
  }
}
//==========================================
.body-header {
  padding: rem(10) 0;
  background-color: $seconderyLight;
  // .body-header__container
  &__container {
    display: flex;
    min-height: rem(70);
    align-items: center;
  }
  // .body-header__logo
  &__logo {
    font-size: rem(35);
    font-weight: 700;
  }
  // .body-header__search
  &__search {
    @include adaptiveValue("padding-left", 158, 20);
  }
}

.search-header {
  position: relative;
  border-radius: rem(3);
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(7, 7, 7, 0.03);
  border: 1px solid rgba(4, 4, 4, 0.5);

  // .search-header__button
  &__button {
    position: absolute;
    top: 0;
    left: 0;
    left: rem(8);
    width: rem(41);
    height: rem(41);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  // .search-header__input
  &__input {
    height: rem(41);
    padding: 0 rem(20) 0 rem(50);
    background-color: transparent;
    border-radius: rem(3);
    outline: none;
  }
}

//====================================================================================================

//Burger

.icon-menu {
  display: none;
  @media (max-width: $mobile) {
    display: block;
    position: relative;
    flex: 0 0 30px;
    height: rem(18);
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: $mainLightColor;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
