.main-block {
  background: url("@img/main-block/background.jpg ") center / cover no-repeat;
  @include adaptiveValue("padding-top", 40, 30);
  @include adaptiveValue("padding-bottom", 60, 30);
  // .main-block__container
  &__container {
  }
  // .main-block__body
  &__body {
    display: grid;
    align-items: start;
    row-gap: rem(40);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 42, 30);
    }
    @media (min-width: $tablet) {
      grid-template-columns: 1fr percent(635, 1600);
    }
  }
  // .main-block__slider
  &__slider {
    margin: 0 rem(-30);
    padding: 0 rem(30);
  }
  // .main-block__swiper
  &__swiper {
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }
  // .main-block__slide
  &__slide {
  }
  // .main-block__media
  &__media {
  }
  // .main-block__advantages
  &__advantages {
  }
  // .main-block__controll
  &__controll {
  }
}
.controll-main-block {
  display: inline-grid;
  grid-auto-flow: column;
  align-items: start;
  gap: rem(20);
  // .controll-main-block__dotts
  &__dotts {
    display: inline-grid;
    gap: rem(15);
    grid-auto-flow: column;
    transform: translate(0px, 10%);
    .swiper-pagination-bullet {
      position: relative;
      cursor: pointer;
      height: rem(30);
      width: rem(18);
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translate(0px, -50%);
        height: rem(2);
        background-color: $mainLightColor;
        transition: all 0.3s ease 0s;
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        width: rem(10);
        height: rem(10);
        border-radius: 50%;
        opacity: 0;
        background-color: $accentColor;
      }
    }
    .swiper-pagination-bullet-active {
      width: rem(25);
      &::after {
        background-color: $accentColor;
      }
      &::before {
        opacity: 1;
        left: rem(20);
        transition: left 3s linear 0s;
      }
    }
  }
  // .controll-main-block__fraction
  &__fraction {
  }
}
.fraction-controll {
  display: flex;
  align-items: flex-end;
  font-weight: 600;
  color: $mainLightColor;
  letter-spacing: 0.1em;
  // .fraction-controll__current
  &__current {
    color: $accentColor;
    font-size: rem(24);
  }
  // .fraction-controll__all
  &__all {
    font-size: rem(18);
  }
}

.swiper-slide {
  // .swiper-slide__contant
  &__contant {
    color: $mainLightColor;
    @media (min-width: $tablet) {
      padding-right: rem(40);
    }
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 30);
    }
  }
  // .swiper-slide__title
  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 36, 28, 0, 992, 320);
    letter-spacing: 0.03em;
    line-height: math.div(46, 36);

    &:not(:last-child) {
      margin-bottom: em(15, 36);
    }
  }
  // .swiper-slide__sub-title
  &__sub-title {
    @include adaptiveValue("font-size", 36, 24, 0, 992, 320);
    letter-spacing: 0.03em;
    line-height: math.div(46, 36);

    &:not(:last-child) {
      margin-bottom: em(30, 36);
    }
  }
  // .swiper-slide__text
  &__text {
    @include adaptiveValue("font-size", 20, 16, 0, 992, 320);
    line-height: math.div(30, 20);
    color: rgba(255, 255, 255, 0.7);
  }
  // .swiper-slide__button
  &__button {
    @media (max-width: $mobileSmall) {
      width: 100%;
    }
  }
}

.media-main-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(15);

  // .media-main-block__body
  &__body {
    position: relative;
  }

  // .media-main-block__image
  &__image {
    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 4%;
      width: percent(423, 449);
      padding-bottom: percent(423, 449);
      border-radius: 50%;
      border: 2px solid rgba(255, 255, 255, 0.5);
      transform: translate(percent(131, 423), 0px);

      @media (max-width: $tablet) {
        display: none;
      }
    }
    img {
      max-width: 100%;
      position: relative;
      z-index: 2;
    }
  }

  // .media-main-block__wrapp-plus
  &__wrapp-plus {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
  }

  // .media-main-block__plus
  &__plus {
    position: absolute;
    width: rem(20);
    height: rem(20);
    cursor: pointer;
    transition: transform 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        transform: rotate(-180deg);
      }
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 50%;
      background-color: $accentColor;
    }
    &::after {
      content: "";
      opacity: 0.5;
      transform: scale(1.6);
    }
    span {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: rem(20);
      color: $mainLightColor;
      z-index: 2;
    }
    // .media-main-block__plus_1
    &_1 {
      top: percent(186, 500);
      left: percent(72, 447);
    }
    // .media-main-block__plus_2
    &_2 {
      top: percent(57, 500);
      right: percent(13, 447);
    }
    // .media-main-block__plus_3
    &_3 {
      right: percent(28, 447);
      bottom: percent(115, 500);
    }
  }
}

.advantages-main {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: rem(20);
  justify-content: space-between;

  @media (max-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: rem(30);
    justify-items: center;
  }
  @media (max-width: $mobile) {
    grid-template-columns: repeat(1, 1fr);
  }
  // .advantages-main__item
  &__item {
    display: inline-grid;
    gap: rem(17);
    text-align: center;
    max-width: rem(280);
    grid-template-rows: rem(77) auto;
  }
  // .advantages-main__icon
  &__icon {
    align-self: centerf;
  }
  // .advantages-main__text
  &__text {
    font-weight: 600;
    font-size: rem(20);
    line-height: math.div(32, 20);
    color: $mainLightColor;
  }
}

//========================================================================================================================================================
.catalog-carts {
  @include adaptiveValue("padding-top", 100, 40);
  @include adaptiveValue("padding-bottom", 70, 40);
  // .catalog-carts__container
  &__container {
    display: grid;
    gap: rem(30);
    @media (min-width: $mobileSmall) {
      grid-template-columns: repeat(auto-fit, minmax(rem(400), 1fr));
    }
  }
  // .catalog-carts__item
  &__item {
  }
}
.item-catalog-carts {
  position: relative;
  min-height: rem(290);
  overflow: hidden;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    }
  }
  // .item-catalog-carts__body
  &__body {
    position: relative;
    z-index: 2;
    @include adaptiveValue("padding", 30, 20);
  }
  // .item-catalog-carts__title
  &__title {
    &:not(:last-child) {
      margin-bottom: em(30, 24);
    }
  }
  // .item-catalog-carts__link-title
  &__link-title {
    display: inline-block;
    font-weight: 600;
    font-size: rem(24);
    line-height: math.div(34, 24);
    &::after {
      content: "";
      display: block;
      width: rem(70);
      height: rem(2);
      margin-top: rem(15);
      background-color: $accentColor;
      transition: width 0.8s ease 0s;
    }
    @media (any-hover: hover) {
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
  // .item-catalog-carts__list
  &__list {
  }
  // .item-catalog-carts__item
  &__item {
    position: relative;
    padding-left: rem(20);
    &::before {
      content: "";
      position: absolute;
      top: em(10, 18);
      left: 0;
      width: rem(6);
      height: rem(6);
      border-radius: 50%;
      background-color: $accentColor;
    }
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }
  // .item-catalog-carts__link
  &__link {
    font-size: rem(18);
    line-height: math.div(24, 18);

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  // .item-catalog-carts__image
  &__image {
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transform: translate(0px, 5%);
    img {
      max-width: 100%;
    }
    @media (min-width: $mobileSmall) {
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
    }
  }
}
//========================================================================================================================================================
.hits-products {
  @include adaptiveValue("padding-top", 50, 40);
  @include adaptiveValue("padding-bottom", 120, 40);
  &_no-top {
    padding-top: 0;
  }
}
.sale-products {
  @include adaptiveValue("padding-top", 120, 40);
  @include adaptiveValue("padding-bottom", 120, 40);
  &_no-botton {
    padding-bottom: 0;
  }
}
//========================================================================================================================================================
.articles-module {
  @include adaptiveValue("padding-bottom", 120, 40);
  // .articles-module__container
  &__container {
  }
  // .articles-module__title
  &__title {
    font-weight: 700;
    font-size: rem(30);
    line-height: math.div(46, 30);
    letter-spacing: 0.05em;
    &:not(:last-child) {
      margin-bottom: em(30, 30);
    }
  }
  // .articles-module__items
  &__items {
    display: grid;
    gap: rem(30);
    grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
  }
  // .articles-module__item
  &__item {
  }
}
.item-article {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $mainLightColor;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
    }
  }
  // .item-article__image-ibg
  &__image-ibg {
    padding-bottom: percent(200, 375);
  }
  // .item-article__body
  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    @include adaptiveValue("padding", 25, 15);
  }
  // .item-article__title
  &__title {
    flex: 1 1 auto;
    &:not(:last-child) {
      margin-bottom: em(16, 20);
    }
  }
  // .item-article__link-title
  &__link-title {
    font-weight: 600;
    font-size: rem(20);
    line-height: math.div(34, 20);

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  // .item-article__date
  &__date {
    font-size: rem(16);
    line-height: math.div(24, 16);
    color: $seconderyTwoLight;
  }
}
//========================================================================================================================================================
.products-block {
  // .products-block__container
  &__container {
  }
  // .products-block__item
  &__item {
  }
}
.product-block {
  // .product-block__body
  &__body {
  }
  // .product-block__title
  &__title {
  }
  // .product-block__link-title
  &__link-title {
  }
  // .product-block__text
  &__text {
  }
  // .product-block__button
  &__button {
  }
  // .product-block__image
  &__image {
  }
}
