.products-slider {
  // .products-slider__container
  &__container {
  }
  // .products-slider__header
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
  }
  // .products-slider__title
  &__title {
    font-weight: 700;
    font-size: rem(30);
    letter-spacing: 0.05em;
    line-height: math.div(46, 30);
  }
  // .products-slider__more
  &__more {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-size: rem(18);
    gap: em(15, 18);
    color: rgba(20, 20, 20, 0.58);
    transition: all 0.3s ease 0s;
    &::after {
      @extend %ic;
      content: "\e900";
      font-size: em(10, 18);
      transform: rotate(-90deg);
      color: $accentColor;
    }
    @media (any-hover: hover) {
      &:hover {
        color: rgba(20, 20, 20, 1);
      }
    }
  }
  // .products-slider__slider
  &__slider {
    padding: rem(15);
    margin: 0 rem(-15);
  }
  // .products-slider__swiper
  &__swiper {
  }
  // .products-slider__slide
  &__slide {
  }
}
.product-card {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
    }
  }
  // .product-card__image-ibg
  &__image-ibg {
    padding-bottom: percent(295, 375);
    // .product-card__image-ibg_contain
    &_contain {
    }
  }
  // .product-card__body
  &__body {
    display: flex;
    flex-direction: column;
    padding: rem(20);
  }
  // .product-card__title
  &__title {
    flex: 1 1 auto;
    font-weight: 600;
    font-size: rem(20);
    line-height: math.div(34, 20);
    &:not(:last-child) {
      margin-bottom: em(10, 20);
    }
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  // .product-card__link-title
  &__link-title {
  }
  // .product-card__info
  &__info {
    &:not(:last-child) {
      margin-bottom: em(11, 16);
    }
  }
  // .product-card__rating
  &__rating {
    justify-content: space-between;
    &:not(:last-child) {
      margin-bottom: rem(26);
    }
  }
  // .product-card__footer
  &__footer {
    display: flex;
    align-items: center;
    gap: rem(15);
    padding-top: rem(20);
    padding-bottom: rem(26);
    border-top: 1px solid rgba(20, 20, 20, 0.5);
  }
  // .product-card__price
  &__price {
    flex: 1 1 auto;
    font-weight: 600;
    font-size: rem(20);
    line-height: math.div(34, 20);
  }

  &__compare,
  &__favorite {
    font-size: rem(24);
    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $accentColor;
      }
    }
  }

  // .product-card__compare
  &__compare {
  }
  // .product-card__favorite
  &__favorite {
  }
  // .product-card__button
  &__button {
    width: 100%;
    font-size: rem(18);
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row-reverse;
      &::before {
        margin-left: rem(16);
      }
    }
  }
}
.info-product-card {
  display: flex;
  justify-content: space-between;
  gap: rem(10);
  font-size: rem(16);
  color: $seconderyTwoLight;
  // .info-product-card__size
  &__size {
  }
  // .info-product-card__materials
  &__materials {
  }
}
