.products-new {
  position: relative;
  padding-top: rem(45);
  background: url("@img/new-product/background.jpg") bottom / cover no-repeat;
  &::before {
    content: "";
    position: absolute;
    top: rem(-1);
    right: 0;
    height: rem(45);
    width: percent(1030, 1920);
    background-color: $mainLightColor;
  }
  // .products-new__inner
  &__inner {
    @include adaptiveValue("padding-top", 55, 20);
    @include adaptiveValue("padding-bottom", 55, 20);
  }
  // .products-new__container
  &__container {
    display: grid;
    row-gap: 30px;
    @media (min-width: em(1024)) {
      grid-template-columns: rem(400) 1fr;
      align-items: start;
    }
  }
  // .products-new__body
  &__body {
    @include adaptiveValue("padding-right", 70, 20, 2, 1630, 1024);
  }
  // .products-new__section
  &__section {
    position: relative;
    z-index: 2;
  }
  // .products-new__title
  &__title {
    font-weight: 700;
    font-size: rem(30);
    line-height: math.div(46, 30);
    color: $mainLightColor;
    &:not(:last-child) {
      margin-bottom: em(30, 30);
    }
  }
  // .products-new__text
  &__text {
    font-weight: 500;
    font-size: rem(18);
    line-height: math.div(27, 18);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 20);
    }
  }
  // .products-new__link
  &__link {
  }
  // .product-new__content
  &__content {
    min-width: 0;
    @media (min-width: em(1024)) {
      padding-top: rem(37);
    }
  }
  // .products-new__slider
  &__slider {
  }
  // .products-new__wrapper
  &__swiper {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 20);
    }
  }
  // .products-new__slide
  &__slide {
  }
  // .products-new__dotts
  &__dotts {
    //   position: relative;
    //   z-index: 3;
  }
}
